<section class="section">
  <div class="columns is-centered">
    <div class="column is-mobile is-narrow">
      <div class="container">
        <div class="content">
          <div class="box title is-light has-text-centered mb-1 mt-1">
            <span class="icon-text"></span>
            <span class="icon"><i class="fa-brands fa-fort-awesome mr-5 pl-3"></i></span>
            Welcome to {{location.name}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-variable is-1-tablet is-8-desktop">
    <div class="column has-text-center">
      <div class="box">
        <header class="title is-3">Merchant: {{merchantInfo.name}}</header>
      </div>
      <div class="box">
        <table class="table is-hoverable is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th class="has-text-left">Item name</th>
              <th class="has-text-centered">Available</th>
              <th class="has-text-centered">Price</th>
              <th class="has-text-centered">Edible</th>
              <th class="has-text-centered"></th>
            </tr>
          </thead>
          <tbody class="is-size-5">
            {{#each merchantInfo.items as |merchantItem|}}
            <tr>
              <td class="has-text-left">{{merchantItem.name}}</td>
              <td>{{merchantItem.quantity}}</td>
              <td>{{merchantItem.price}} <span class="icon-text"></span><span class="icon has-text-warning"><i class="fa-solid fa-coins ml-5"></i></span></td>
              <td>{{#if merchantItem.edible}}<span class="icon-text"></span><span class="icon has-text-danger"><i class="fa-solid fa-drumstick-bite"></i></span>{{/if}}</td>
              <td class="has-text-right">
                <button
                  class="button has-background-danger-dark has-text-white is-outlined buy-item"
                  item-id="{{merchantItem.id}}"
                  item-price="{{merchantItem.price}}">
                  Buy
                </button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="column has-text-right">
      <div class="box">
          <header class="title is-3"><span class="icon-text"></span><span class="icon has-text-warning">
          <i class="fa-solid fa-coins mr-5"></i></span></span>You have {{playerInfo.coins}} coins</header>
      </div>
      <div class="box">
        <table class="table is-hoverable is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th></th>
              <th class="has-text-centered">Edible</th>
              <th class="has-text-centered">Price</th>
              <th class="has-text-centered">Available</th>
              <th class="has-text-right">Item name</th>
            </tr>
          </thead>
          <tbody class="is-size-5">
            {{#each playerInfo.items as |playerItem|}}
            <tr>
              <td class="has-text-left">
                <button
                  class="button has-background-danger-dark has-text-white is-outlined sell-item"
                  item-id="{{playerItem.id}}"
                  item-price="{{playerItem.price}}">
                  Sell
                </button>
              </td>
              <td>{{#if playerItem.edible}}<span class="icon-text"></span><span class="icon has-text-danger"><i class="fa-solid fa-drumstick-bite"></i></span>{{/if}}</td>
              <td>{{playerItem.price}}<span class="icon-text"></span><span class="icon has-text-warning"><i class="fa-solid fa-coins ml-5"></i></span></td>
              <td>{{playerItem.quantity}}</td>
              <td class="has-text-right">{{playerItem.name}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-mobile is-narrow">
      <div class="container">
        <div class="content">
          <button class="box button has-background-dark has-text-white has-text-centered is-medium world-map">
            Return to world map
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="module" src="/js/location.mjs"></script>