<section class="section">
  <div class="columns is-mobile is-centered">
    <div class="column is-narrow">
      <div class="container">
        <div class="content">
          <div
            class="box title is-2 is-light is-large has-text-centered">
            Welcome to {{location.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns is-mobile is-centered">
    {{!-- a card for each item will appear with a button to buy and to sell  --}}
      {{#each itemTypes as |itemType}}
        <div class="column is-narrow">
          <div class="container">
            <div class="card mt-4" data-id="{{item.id}}">
              <div class="card-content">
                <div class="content">
                  <h2 class="subtitle">{{itemType.name}}</h2>
                  <div class="card-body">
                    <img src="/images/" alt="" />
                    <button class="button buy-item" item-id="{{item.id}}">Buy</button>
                    <button class="button sell-item" item-id="{{item.id}}">Sell</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</section>
<footer class="has-text-centered">
<button class="button world-map">Go back to Map</button>
</footer>
<script src="/js/location.js"></script>
