{{! have map on background image }}
{{! this is a bulma grid to try and have buttons of city that will look like they are randomly on the map }}
<div class="container is-flex is-justify-content-center mt-6">
  <button class="button cities" data-id="{{location.id}}">City</button>
</div>
<div class="container is-flex is-justify-content-flex-start mt-6">
  <button class="button cities" data-id="{{location.id}}">City</button>
</div>
<div class="container is-flex is-justify-content-flex-end m-6">
  <button class="button cities" data-id="{{location.id}}">City</button>
</div>
<div class="container is-flex is-justify-content-center m-6">
  <button class="button cities" data-id="{{location.id}}">City</button>
</div>
<div class="container is-flex is-justify-content-left m-6">
  <button class="button cities" data-id="{{location.id}}">City</button>
</div>
<script src="/js/worldMap.js"></script>